max-width-desktop = 1370px;
max-width-small-desktop = 1199px;
max-width-tablet = 767px;

font-family = latolight
font-size = 14px
font-weight = 300
line-height = 20px
color-text = black

accent-color = black
black-color = black
grey-color = #747474
dark-grey = #787878
light-grey = #DCDCDC
